
.videoplayer {
  position: fixed;
  top: 50%; left: 50%;
  z-index: -99;
  opacity: .5;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translate(-50%, -50%);
  background: #2a2a2a;
}